:root {
    --pop: #8860D0;
    --dark: #6E30F2;
    --accent: #7877e6;
    --muted: #84CEEB;
    --text: #eeeeee;
}

html, body {
    background: var(--accent);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    background: var(--accent);
    background-clip: border-box;
    color: var(--text);
    box-sizing: border-box;
}

a:link, a:visited {
    color: var(--text);
}

a:hover {
    color: var(--dark);
}

.nav-link, .navbar-brand {
    color: white !important;
}

nav {
    padding: 1rem 2rem 3rem !important;
}

main {
    padding: 5rem 12%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    padding: 1rem;
    flex-basis: 50%;
}

.language-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.language-item {
    text-align: center;
    flex-basis: 33.3%;
}

.header {
    color: white;
    text-decoration: none;
    padding-bottom: 0;
}

.logo {
    text-decoration: none;
    padding-bottom: 0;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.child {
    min-width: 300px;
    width: 47%;
    margin: 0 auto;
}

h1 {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 12px;
}

/* Icons */
i {
    padding: 0 1rem;
    font-size: 1.1rem;
}

.block {
    margin-bottom: 75px;
}

div.block > * {
    text-align: center;
}

.footer {
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}


main#resume p {
    text-align: left;
}

#resume h1, h2, h3 {
    text-align: center;
    font-feature-settings: normal;
    font-variant: small-caps;
}

#resume h3 {
    font-size: 23px;
    margin-bottom: 4px;
}

#resume .contact-info {
    text-align: center;
}

#resume p, ul {
    margin-bottom: 0.2rem !important;
}

#resume h1 {
    padding-bottom: 0;
}

#resume .block {
    margin-bottom: 10px;
}

